In [1]:
import findspark
findspark.init()

from pyspark import SparkContext

In [2]:
sc =SparkContext()

In [3]:
data = [1,2,3,4,5,6,7,8,9,10,11,12]
rdds=sc.parallelize(data)

In [4]:
display(rdds, rdds.collect())

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:274

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

blue box= Spark Operation
black dot= rdd
green dot= cached rdd 
grey stage= cached stage 
outer red line= stage

Single Stage AKA Narrow Transformations

In [5]:
airports = sc.textFile("spark_files/airports.txt")
airports.take(9)

['1,"Goroka","Goroka","Papua New Guinea","GKA","AYGA",-6.081689,145.391881,5282,10,"U","Pacific/Port_Moresby"',
 '2,"Madang","Madang","Papua New Guinea","MAG","AYMD",-5.207083,145.7887,20,10,"U","Pacific/Port_Moresby"',
 '3,"Mount Hagen","Mount Hagen","Papua New Guinea","HGU","AYMH",-5.826789,144.295861,5388,10,"U","Pacific/Port_Moresby"',
 '4,"Nadzab","Nadzab","Papua New Guinea","LAE","AYNZ",-6.569828,146.726242,239,10,"U","Pacific/Port_Moresby"',
 '5,"Port Moresby Jacksons Intl","Port Moresby","Papua New Guinea","POM","AYPY",-9.443383,147.22005,146,10,"U","Pacific/Port_Moresby"',
 '6,"Wewak Intl","Wewak","Papua New Guinea","WWK","AYWK",-3.583828,143.669186,19,10,"U","Pacific/Port_Moresby"',
 '7,"Narsarsuaq","Narssarssuaq","Greenland","UAK","BGBW",61.160517,-45.425978,112,-3,"E","America/Godthab"',
 '8,"Nuuk","Godthaab","Greenland","GOH","BGGH",64.190922,-51.678064,283,-3,"E","America/Godthab"',
 '9,"Sondre Stromfjord","Sondrestrom","Greenland","SFJ","BGSF",67.016969,-50.689325,165,-3,"E","America/Godthab"']

In [6]:
data = ["scala","java","hadoop","spark","akka","spark vs hadoop","pyspark","Java"]
rdd=sc.parallelize(data)
rdd2=rdd.map(lambda x: (x,1))
for element in rdd2.collect():
    print(element)

('scala', 1)
('java', 1)
('hadoop', 1)
('spark', 1)
('akka', 1)
('spark vs hadoop', 1)
('pyspark', 1)
('Java', 1)

Multi-Stage or Wide Transformations

In [7]:
ds_one = sc.parallelize([("Mark", 1984), ("Lisa", 1985)])
ds_two = sc.parallelize([("Mark", 1984), ("Anastasia", 2017)])
sorted(ds_one.intersection(ds_two).collect())

[('Mark', 1984)]

In [8]:
sc.stop()

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import*

from pyspark.sql.types import StructType, StructField, StringType, IntegerType, BooleanType, DoubleType

import pandas as pd

In [10]:
spark = SparkSession.builder.master("local[*]").appName("Test SQL app").getOrCreate()

In [11]:
df = spark.read.load("spark_files/RealEstate.csv", format="csv", header = True,inferSchema = True)

In [12]:
df.select("Location", "Price").groupby("Location").avg().show(10)

+--------------+------------------+
|      Location|        avg(Price)|
+--------------+------------------+
|   Pismo Beach| 772374.5833333334|
|     King City|          131190.0|
|    New Cuyama|           40900.0|
|        Nipomo| 454166.6666666667|
|        Oceano|          392640.0|
|        Nipomo| 430629.4117647059|
|     Templeton| 705890.9090909091|
| Arroyo Grande|1013958.3333333334|
|   Bakersfield|           91500.0|
|     Guadalupe|          117250.0|
+--------------+------------------+
only showing top 10 rows

In [13]:
#spark.stop()